rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/User/$(request.auth.uid)).data.Role == 'admin';
    }
    function isRestaurant() {
      return request.auth != null && get(/databases/$(database)/documents/User/$(request.auth.uid)).data.Role == 'restaurant';
    }
    function userRestaurantName() {
      return get(/databases/$(database)/documents/User/$(request.auth.uid)).data.Restaurant;
    }

    match /Order/{id} {
      allow read, create: if true;
      allow update: if true;
      allow delete: if false;
    }

    match /Restaurant/{id} {
      allow read: if true;
      allow create, delete: if isAdmin();
      allow update: if isAdmin() 
                    || (isRestaurant() && resource.data.Name == userRestaurantName());
    }

    // Default rules for other collections
    match /{document=**} {
      allow read, write: if true;
    }
  }
}